<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Coleta</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @media print {
            .no-print {
                display: none;
            }
        }
    </style>
</head>
<body class="bg-gray-200">
<div class="flex flex-col min-h-screen">
    {% include 'navbar.html' %}
    <header class="bg-gray-800 py-4">
        <div class="container mx-auto px-4">
            <h1 class="text-2xl text-white">Relatório de Coleta</h1>
            <div class="flex justify-between items-center mt-4">
                <div>
                    <p class="text-gray-400">Número de Coletas:</p>
                    <p class="text-3xl text-white font-bold">{{ numero_coletas }}</p>
                </div>
                <div>
                    <p class="text-gray-400">Maior Coleta:</p>
                    <p class="text-3xl text-white font-bold">{{ maior_coleta.quantidade }}kg</p>
                </div>
                <div>
                    <p class="text-gray-400">Menor Coleta:</p>
                    <p class="text-3xl text-white font-bold">{{ menor_coleta.quantidade }}kg</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Conteúdo principal -->
    <main class="flex-grow container mx-auto px-4 py-8">
        <h2 class="text-2xl font-bold mb-4">Quantidade Coletada nos últimos 12 meses</h2>
        <div class="bg-white rounded shadow overflow-x-auto">
            <table class="w-full">
                <thead>
                <tr>
                    <th class="bg-gray-200 text-left py-2 px-4">Mês</th>
                    <th class="bg-gray-200 text-left py-2 px-4">Quantidade Coletada</th>
                </tr>
                </thead>
                <tbody>
                {% for soma_mes in quantidade_coletada %}
                    <tr>
                        <td class="border-t py-2 px-4">{{ soma_mes.month }}</td>
                        <td class="border-t py-2 px-4">{{ soma_mes.quantidade|floatformat:3 }}kg</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <!-- Rodapé -->
    <footer class="bg-gray-800 py-4 text-center">
        <button onclick="window.print()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-print">
            Imprimir
        </button>
    </footer>
</div>
</body>
</html>
